# =========================
# .NET
# =========================

**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo

# Visual Studio
.vs/

# =========================
# Node / Next.js
# =========================

**/node_modules/
**/.next/
**/out/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Logs
# =========================

*.log
logs/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# =========================
# Test / Coverage
# =========================

**/TestResults/
**/coverage/

# =========================
# Docker
# =========================

docker-data/